nav {
	background-color: #aaaaaa;
	font-family: Arial, sans-serif;
}
a {
	background-color: #ff7900;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;

}
a:hover {
	background-color: #aaaaaa;
}